/*      light colors         */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

/* .ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.3rem;
  line-height: 1;
}

.ct-chart-line .ct-label, .ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-label {
  &.ct-horizontal {
    &.ct-start {
      -webkit-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      text-align: left;
      text-anchor: start;
    }

    &.ct-end {
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      text-align: left;
      text-anchor: start;
    }
  }

  &.ct-vertical {
    &.ct-start {
      -webkit-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -webkit-box-pack: flex-end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
      text-align: right;
      text-anchor: end;
    }

    &.ct-end {
      -webkit-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      text-align: left;
      text-anchor: start;
    }
  }
}

.ct-chart-bar {
  .ct-label.ct-horizontal {
    &.ct-start {
      -webkit-box-align: flex-end;
      -webkit-align-items: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      text-anchor: start;
    }

    &.ct-end {
      -webkit-box-align: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      text-anchor: start;
    }
  }

  &.ct-horizontal-bars .ct-label {
    &.ct-horizontal {
      &.ct-start {
        -webkit-box-align: flex-end;
        -webkit-align-items: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        text-align: left;
        text-anchor: start;
      }

      &.ct-end {
        -webkit-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        text-align: left;
        text-anchor: start;
      }
    }

    &.ct-vertical {
      &.ct-start {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: flex-end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
        text-align: right;
        text-anchor: end;
      }

      &.ct-end {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        text-align: left;
        text-anchor: end;
      }
    }
  }
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-point {
  stroke-width: 8px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 3px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.8;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $info-color;
  }

  .ct-slice-pie, .ct-area {
    fill: $info-color;
  }
}

.ct-series-b {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $danger-color;
  }

  .ct-slice-pie, .ct-area {
    fill: $danger-color;
  }
}

.ct-series-c {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $warning-color;
  }

  .ct-slice-pie, .ct-area {
    fill: $warning-color;
  }
}

.ct-series-d {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #9368E9;
  }

  .ct-slice-pie, .ct-area {
    fill: #9368E9;
  }
}

.ct-series-e {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $success-color;
  }

  .ct-slice-pie, .ct-area {
    fill: $success-color;
  }
}

.ct-series-f {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: $primary-color;
  }

  .ct-slice-pie, .ct-area {
    fill: $primary-color;
  }
}

.ct-series-g {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #5e5e5e;
  }

  .ct-slice-pie, .ct-area {
    fill: #5e5e5e;
  }
}

.ct-series-h {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #dd4b39;
  }

  .ct-slice-pie, .ct-area {
    fill: #dd4b39;
  }
}

.ct-series-i {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #35465c;
  }

  .ct-slice-pie, .ct-area {
    fill: #35465c;
  }
}

.ct-series-j {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #e52d27;
  }

  .ct-slice-pie, .ct-area {
    fill: #e52d27;
  }
}

.ct-series-k {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #55acee;
  }

  .ct-slice-pie, .ct-area {
    fill: #55acee;
  }
}

.ct-series-l {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #cc2127;
  }

  .ct-slice-pie, .ct-area {
    fill: #cc2127;
  }
}

.ct-series-m {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #1769ff;
  }

  .ct-slice-pie, .ct-area {
    fill: #1769ff;
  }
}

.ct-series-n {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #6188e2;
  }

  .ct-slice-pie, .ct-area {
    fill: #6188e2;
  }
}

.ct-series-o {
  .ct-point, .ct-line, .ct-bar, .ct-slice-donut {
    stroke: #a748ca;
  }

  .ct-slice-pie, .ct-area {
    fill: #a748ca;
  }
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 100%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 93.75%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 88.88889%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 83.33333%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 80%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 75%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 66.66667%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 62.5%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 61.8047%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 60%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 56.25%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 53.33333%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 50%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 40%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 37.5%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 33.33333%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;

  &:before {
    display: block;
    float: left;
    content: '';
    width: 0;
    height: 0;
    padding-bottom: 25%;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.ct-blue {
  stroke: $primary-color !important;
}

.ct-azure {
  stroke: $info-color !important;
}

.ct-green {
  stroke: $success-color !important;
}

.ct-orange {
  stroke: $warning-color !important;
}

.ct-red {
  stroke: $danger-color !important;
} */

/*           Font Smoothing      */

/* h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: $font-weight-normal;
  color: #383d49;
}

h1, .h1 {
  font-size: 34px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 11px;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #7e899a;
} */

/* .text-primary {
  color: #448aff !important;

  &:hover {
    color: #448aff !important;
  }
}

.text-success {
  color: #52be7f !important;

  &:hover {
    color: #52be7f !important;
  }
}

.text-warning {
  color: #f39c12 !important;

  &:hover {
    color: #f39c12 !important;
  }
}

.text-danger {
  color: #e74c3c !important;

  &:hover {
    color: #e74c3c !important;
  }
} */

/*     General overwrite     */
a {
  color: #010e43;

  &:hover, &:focus {
    color: #448aff;
  }
}

/*           Animations              */

/* Duplications are removed from sidebar-and-main-panel.scss */
/* .sidebar {

  .nav {
    li {

      &:hover > a {
        background-color: #448aff;
      }

      &.active {
        > a {
          color: #448aff;
          font-weight: $font-weight-normal;
        }

        &:hover > a {
          color: #fff;
        }
      }
    }

    li > a span {
      margin: 0;
      font-size: 12px;
      display: block;
    }
  }
} */

/* Duplications are removed from sidebar-and-main-panel.scss  ends*/

/* Duplications are removed from buttons.scss*/
/* .btn {
  border-color: #bdbfc3;
  color: #71798a;

  &:hover, &:focus, &:active, &.active {
    background-color: transparent;
    color: #71798a;
    border-color: #797979;
  }

  &:active {
    &:focus, &:hover {
      background-color: transparent;
      color: #71798a;
      border-color: #797979;
    }
  }

  &.active {
    &:focus, &:hover {
      background-color: transparent;
      color: #71798a;
      border-color: #797979;
    }
  }
}

.open > .btn.dropdown-toggle {
  background-color: transparent;
  color: #71798a;
  border-color: #797979;
}

.btn {
  &.disabled {
    background-color: transparent;
    border-color: #888888;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: #888888;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: #888888;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: #888888;
    }
  }

  &[disabled] {
    background-color: transparent;
    border-color: #888888;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: #888888;
    }
  }
}

fieldset[disabled] .btn {
  background-color: transparent;
  border-color: #888888;

  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: transparent;
    border-color: #888888;
  }
}

.btn.btn-fill {
  color: $white-color;
  background-color: #bdbfc3;
  opacity: 1;
  filter: alpha(opacity = 100);

  &:hover, &:focus, &:active, &.active {
    background-color: #797979;
    color: $white-color;
  }
}

.open > .btn.btn-fill.dropdown-toggle {
  background-color: #797979;
  color: $white-color;
}

.btn {
  &.btn-fill .caret {
    border-top-color: $white-color;
  }

  .caret {
    border-top-color: #888888;
  }

  &:hover, &:focus {
    opacity: 1;
    filter: alpha(opacity = 100);
    outline: 0 !important;
  }

  &:active, &.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
  }
}

.open > .btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn {
  &.btn-icon {
    padding: 8px;
  }

  .btn-label .fa {
    width: 13px;
  }
} */

/* .btn-primary {
  border-color: #448aff;
  color: #448aff;

  &:hover, &:focus, &:active, &.active {
    background-color: transparent;
    color: #2962FF;
    border-color: #2962FF;
  }

  &:active {
    &:focus, &:hover {
      background-color: transparent;
      color: #2962FF;
      border-color: #2962FF;
    }
  }

  &.active {
    &:focus, &:hover {
      background-color: transparent;
      color: #2962FF;
      border-color: #2962FF;
    }
  }
}

.open > .btn-primary.dropdown-toggle {
  background-color: transparent;
  color: #2962FF;
  border-color: #2962FF;
}

.btn-primary {
  &.disabled {
    background-color: transparent;
    border-color: $primary-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $primary-color;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: $primary-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $primary-color;
    }
  }

  &[disabled] {
    background-color: transparent;
    border-color: $primary-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $primary-color;
    }
  }
}

fieldset[disabled] .btn-primary {
  background-color: transparent;
  border-color: $primary-color;

  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: transparent;
    border-color: $primary-color;
  }
}

.btn-primary.btn-fill {
  color: $white-color;
  background-color: #448aff;
  opacity: 1;
  filter: alpha(opacity = 100);

  &:hover, &:focus, &:active, &.active {
    background-color: #2962FF;
    color: $white-color;
  }
}

.open > .btn-primary.btn-fill.dropdown-toggle {
  background-color: #2962FF;
  color: $white-color;
}

.btn-primary {
  &.btn-fill .caret {
    border-top-color: $white-color;
  }

  .caret {
    border-top-color: #3498db;
  }
} */

/* .btn-neutral {
  border-color: $white-color;
  color: $white-color;

  &:hover, &:focus, &:active, &.active {
    background-color: transparent;
    color: $white-color;
    border-color: $white-color;
  }

  &:active {
    &:focus, &:hover {
      background-color: transparent;
      color: $white-color;
      border-color: $white-color;
    }
  }

  &.active {
    &:focus, &:hover {
      background-color: transparent;
      color: $white-color;
      border-color: $white-color;
    }
  }
}

.open > .btn-neutral.dropdown-toggle {
  background-color: transparent;
  color: $white-color;
  border-color: $white-color;
}

.btn-neutral {
  &.disabled {
    background-color: transparent;
    border-color: $white-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $white-color;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: $white-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $white-color;
    }
  }

  &[disabled] {
    background-color: transparent;
    border-color: $white-color;

    &:hover, &:focus, &.focus, &:active, &.active {
      background-color: transparent;
      border-color: $white-color;
    }
  }
}

fieldset[disabled] .btn-neutral {
  background-color: transparent;
  border-color: $white-color;

  &:hover, &:focus, &.focus, &:active, &.active {
    background-color: transparent;
    border-color: $white-color;
  }
}

.btn-neutral.btn-fill {
  color: $white-color;
  background-color: $white-color;
  opacity: 1;
  filter: alpha(opacity = 100);

  &:hover, &:focus, &:active, &.active {
    background-color: $white-color;
    color: $white-color;
  }
}

.open > .btn-neutral.btn-fill.dropdown-toggle {
  background-color: $white-color;
  color: $white-color;
}

.btn-neutral {
  &.btn-fill .caret, .caret {
    border-top-color: $white-color;
  }

  &:active, &.active {
    background-color: $white-color;
    color: #888888;
  }
} */
/* Duplications are removed from buttons.scss ends*/

/* inputs.scss styles are removed becuase of duplication of styles */

/* .form-control:focus {
    + .input-group-addon, ~ .input-group-addon {
        border: 1px solid #ccc;
    }
} */

/* inputs.scss styles are removed becuase of duplication of styles ends */

/**  Workplace page assets, start **/

/* #brief-header {} */

/* #send-brief {
  margin-top: 50px;

  #manager_list_chzn.multiselect.btn {
    border-color: #fafafa;
  }
} */

/* quote cards  */

/* #quote-card {
  .scrollnow {
    overflow-y: auto;
    max-height: 500px;
    min-height: 500px;
  }

  .col-md-3 {
    margin-right: -5px;

    &::after {
      border-right: 1px solid #d2d5da;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
    }

    &:last-child::after {
      border-right: 0;
    }

    .w {
      padding: 5px;
      margin-bottom: 20px;

      &::after {
        display: block;
        content: '';
        background-color: #383d49;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 58px;
      }
    }

    h4 {
      margin: 0;
      position: relative;
      z-index: 100;
      font-weight: $font-weight-normal;
      color: #fff;
      font-size: 22px;
      margin-top: 5px;

      > small {
        font-weight: $font-weight-normal;
        color: #bdc3c7;
        font-size: 12px;
        display: block;
        text-transform: uppercase;
        line-height: 12px;
        letter-spacing: 1px;
      }
    }
  }

  .card {
    .content {
      position: relative;
    }

    .card-header {
      margin-bottom: 10px;
    }

    .brand_l {
      vertical-align: middle;
      display: inline-block;
      margin-right: 15px;
      width: 38px;
      height: auto;
    }

    .dropdown {
      display: inline-block;
      float: right;

      .dropdown-menu {
        &::after, &::before {
          display: none;
        }
      }
    }

    .qp {
      font-size: 15px;
      font-weight: $font-weight-normal;
    }

    .qt {
      font-size: 15px;
      display: block;
    }

    .content .qf {
      margin: 10px 0 -10px;
      font-size: 12px;

      .owner {
        position: absolute;
        right: 0;
        bottom: 0;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
} */

/* Notification */

/* #activities {
  background: #383D49;
  color: #dad7d6;
  height: 100%;
  width: 380px;
  position: absolute;
  right: 0;
  top: 0;

  i {
    vertical-align: middle;
  }

  a {
    color: #dad7d6;
    text-decoration: none;
  }

  .headerActivities {
    background: #2b313c;
    font-size: 1.6em;
    padding: 10px 0;

    div {
      display: inline-block;
    }

    .pictoActivities {
      padding: 0 27px;
    }
  }

  .containerActivities {
    ul {
      font-size: 12px;
      border-left: 2px #448AFF solid;
      padding-left: 35px;
      margin-left: 35px;
      margin-top: 35px;
    }

    li {
      list-style: none;

      &:nth-child(n+2) {
        padding-top: 35px;
      }

      &:before {
        content: '';
        width: 14px;
        height: 14px;
        border: 2px solid #448aff;
        border-radius: 50%;
        position: absolute;
        background: #383D49;
        left: 29px;
      }

      &:hover:before {
        border: 2px solid #448aff;
        background: #448aff;
        transition: ease-in 0.15s;
      }
    }

    img {
      border-radius: 4px;
    }

    .containerActivitiesPP {
      width: 32px;
      display: inline-block;
      vertical-align: top;
    }

    .containerActivitiesText {
      display: inline-block;
      vertical-align: top;
      padding-left: 4px;
      width: 80%;

      p {
        font-size: 12px;
      }
    }

    .containerActivitiesTime {
      display: block;
      color: #71798a;
      font-size: 10px;
      padding-top: 4px;
    }

    .containerActivitiesReadMore {
      text-align: center;
      padding-top: 35px;
    }
  }
} */

/* contact select */

/* .wrapListContact {
  padding: 15px;
}

ul {
  &.zg-ul-select {
    cursor: pointer;
    margin: 0;
    padding: 0;

    li {
      display: none;
      padding: 0.5em;
    }
  }

  &#listeContact {
    position: relative;
    border-top: 1px #71798A solid;

    &:after {
      content: '\e5cf';
      color: #383D49;
      font-family: 'Material Icons';
      position: absolute;
      right: 10px;
      top: 26px;
      font-size: 24px;
    }
  }
}

.wrapListContact ul li {
  .listeContactTitle {
    display: block;
    font-weight: $font-weight-normal;
    font-size: 18px;
  }

  .listeContactInfo {
    display: block;
    font-weight: $font-weight-normal;
    font-size: 14px;
  }
}

ul.zg-ul-select {
  li.active {
    color: #111;
    display: block;
    padding-left: 28px;
    position: relative;

    &:before {
      content: '\e876';
      color: #448AFF;
      font-family: 'Material Icons';
      position: absolute;
      left: 8px;
    }
  }

  &.active li {
    border: none;
    display: block;

    &:hover {
      background: #383D49;
      color: #fff;
    }

    &.active {
      background: #448AFF;
      padding-left: 28px;
      position: relative;
      color: #fff;

      &:before {
        content: '\e876';
        color: #fff;
        font-family: 'Material Icons';
        position: absolute;
        left: 8px;
      }

      &:hover {
        background: #383D49;
        color: #fff;
      }
    }
  }
}

#selected--zg-ul-select {
  color: #111;
  display: block;

  &.active {
    border-bottom: 1px solid #111;
    padding: 0.5em;
  }
} */

/**  Workplace page assets, end **/

/* .alert {
  border: 0;
  border-radius: 0;
  color: $white-color;
  padding: 10px 15px;
  font-size: 14px;
}

.container .alert {
  border-radius: 4px;
}

.navbar {
  .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
  }

  &:not(.navbar-transparent) .alert {
    top: 70px;
  }
}

.alert {
  span[data-notify='icon'] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  button.close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -13px;
    z-index: 1033;
    background-color: $white-color;
    display: block;
    border-radius: 50%;
    opacity: .4;
    line-height: 11px;
    width: 25px;
    height: 25px;
    outline: 0 !important;
    text-align: center;
    padding: 3px;
    font-weight: $font-weight-normal;

    &:hover {
      opacity: .55;
    }
  }

  .close ~ span {
    display: block;
    max-width: 89%;
  }

  &[data-notify='container'] {
    padding: 10px 10px 10px 20px;
    border-radius: 4px;
  }

  &.alert-with-icon {
    padding-left: 65px;
  }
}

.alert-info {
  background-color: #6addf4;
}

.alert-success {
  background-color: #a1e82c;
}

.alert-warning {
  background-color: #ffbc67;
}

.alert-danger {
  background-color: #fc727a;
} */

/* .table {
  .radio, .checkbox {
    position: relative;
    height: 20px;
    display: block;
    width: 20px;
    padding: 0px 0px;
    margin: 0px 5px;
    text-align: center;
  }

  .radio .icons, .checkbox .icons {
    left: 5px;
  }

  > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      padding: 12px 8px;
      vertical-align: middle;
      border-color: $light-gray;
    }

    thead > tr > th {
      border-bottom-width: 1px;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark-gray;
      font-weight: $font-weight-normal;
      padding-bottom: 5px;
    }
  }

  .td-actions {
    .btn {
      opacity: 0.36;
      filter: alpha(opacity = 36);

      &.btn-xs {
        padding-left: 3px;
        padding-right: 3px;
      }
    }

    min-width: 90px;
  }

  > tbody > tr {
    position: relative;

    &:hover .td-actions .btn {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
}

.table-bigboy {
  > {
    thead > tr > th {
      font-size: 14px;
      text-transform: uppercase;
      color: $dark-gray;
      font-weight: $font-weight-normal;
    }

    tbody > tr > td {
      font-size: 14px;

      b {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .td-name {
    font-weight: $font-weight-normal;
    font-size: 18px;
    min-width: 240px;
  }

  .td-number {
    text-align: right;
    min-width: 110px;

    small {
      margin-right: 3px;
    }
  }

  .td-actions {
    width: 60px;
    min-width: auto;

    .btn {
      float: right;
    }
  }

  .img-container {
    width: 180px;
    height: 120px;
    overflow: hidden;
    display: block;
    border-radius: 6px;

    img {
      width: 100%;
    }
  }
}

.table > {
  thead > tr {
    > {
      td.success, th.success {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }

    &.success > {
      td, th {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }
  }

  tbody > tr {
    > {
      td.success, th.success {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }

    &.success > {
      td, th {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }
  }

  tfoot > tr {
    > {
      td.success, th.success {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }

    &.success > {
      td, th {
        background-color: rgba(135, 203, 22, 0.2);
      }
    }
  }
}

.table-hover > tbody > tr {
  > {
    td.success:hover, th.success:hover {
      background-color: rgba(144, 217, 23, 0.2);
    }
  }

  &.success:hover > td, &:hover > .success, &.success:hover > th {
    background-color: rgba(144, 217, 23, 0.2);
  }
}

.table > {
  thead > tr {
    > {
      td.info, th.info {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }

    &.info > {
      td, th {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }
  }

  tbody > tr {
    > {
      td.info, th.info {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }

    &.info > {
      td, th {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }
  }

  tfoot > tr {
    > {
      td.info, th.info {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }

    &.info > {
      td, th {
        background-color: rgba(35, 204, 239, 0.2);
      }
    }
  }
}

.table-hover > tbody > tr {
  > {
    td.info:hover, th.info:hover {
      background-color: rgba(49, 207, 240, 0.2);
    }
  }

  &.info:hover > td, &:hover > .info, &.info:hover > th {
    background-color: rgba(49, 207, 240, 0.2);
  }
}

.table > {
  thead > tr {
    > {
      td.warning, th.warning {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }

    &.warning > {
      td, th {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }
  }

  tbody > tr {
    > {
      td.warning, th.warning {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }

    &.warning > {
      td, th {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }
  }

  tfoot > tr {
    > {
      td.warning, th.warning {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }

    &.warning > {
      td, th {
        background-color: rgba(255, 165, 52, 0.2);
      }
    }
  }
}

.table-hover > tbody > tr {
  > {
    td.warning:hover, th.warning:hover {
      background-color: rgba(255, 172, 67, 0.2);
    }
  }

  &.warning:hover > td, &:hover > .warning, &.warning:hover > th {
    background-color: rgba(255, 172, 67, 0.2);
  }
}

.table > {
  thead > tr {
    > {
      td.danger, th.danger {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }

    &.danger > {
      td, th {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }
  }

  tbody > tr {
    > {
      td.danger, th.danger {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }

    &.danger > {
      td, th {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }
  }

  tfoot > tr {
    > {
      td.danger, th.danger {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }

    &.danger > {
      td, th {
        background-color: rgba(251, 64, 75, 0.2);
      }
    }
  }
}

.table-hover > tbody > tr {
  > {
    td.danger:hover, th.danger:hover {
      background-color: rgba(251, 79, 89, 0.2);
    }
  }

  &.danger:hover > td, &:hover > .danger, &.danger:hover > th {
    background-color: rgba(251, 79, 89, 0.2);
  }
} */

/* .tagsinput {
  height: 40px;
  overflow-y: auto;
  text-align: left;

  .tag {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 5px 3px 5px 0;
    padding: 2px 12px;
    border: 1px solid #888888;
    border-radius: 3px;
    color: #888888;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      padding-left: 10px;
      padding-right: 14px;
    }
  }

  .tagsinput-add {
    color: $black-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 5px 6px;
    margin: 5px 0 0;
    vertical-align: top;
    opacity: 0.8;
    filter: alpha(opacity = 80);

    &:hover, &:focus {
      opacity: 1;
      filter: alpha(opacity = 100);
    }

    &:before {
      content: '\f067';
      font-family: 'FontAwesome';
    }
  }

  .tagsinput-remove-link {
    color: #888888;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 0;
    position: absolute;
    right: 0;
    opacity: 0;
    text-align: right;
    text-decoration: none;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .tag:hover .tagsinput-remove-link {
    opacity: 1;
    padding-right: 6px;
  }

  .tagsinput-remove-link:before {
    content: '\f00d';
    font-family: 'FontAwesome';
  }

  .tagsinput-add-container {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    background: transparent;
    border: none;
    color: $black-color;
    margin: 0;
    outline: medium none !important;
    padding: 0 0 0 5px;
    vertical-align: top;
    width: 30px;
    height: 40px;
  }

  &.tag-blue {
    .tag, .tagsinput-remove-link {
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &.tag-azure {
    .tag, .tagsinput-remove-link {
      border-color: $info-color;
      color: $info-color;
    }
  }

  &.tag-green {
    .tag, .tagsinput-remove-link {
      border-color: $success-color;
      color: $success-color;
    }
  }

  &.tag-orange {
    .tag, .tagsinput-remove-link {
      border-color: $warning-color;
      color: $warning-color;
    }
  }

  &.tag-red {
    .tag, .tagsinput-remove-link {
      border-color: $danger-color;
      color: $danger-color;
    }
  }

  &.tag-fill {
    &.tag-blue .tag {
      border-color: $primary-color;
      color: $white-color;
      background-color: $primary-color;
    }

    &.tag-azure .tag {
      border-color: $info-color;
      color: $white-color;
      background-color: $info-color;
    }

    &.tag-green .tag {
      border-color: $success-color;
      color: $white-color;
      background-color: $success-color;
    }

    &.tag-orange .tag {
      border-color: $warning-color;
      color: $white-color;
      background-color: $warning-color;
    }

    &.tag-red .tag {
      border-color: $danger-color;
      color: $white-color;
      background-color: $danger-color;
    }

    .tagsinput-remove-link {
      color: $white-color;
    }
  }
} */

/* Duplications are removed from tooltips-and-popovers.scss */
/* .tooltip {

    &.top {

    .tooltip-inner {
      background: #353F53;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;

      &:after {
        border-top: 8px solid #353F53;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -8px;
      }

      &:before {
        border-top: 8px solid rgba(0, 0, 0, 0.2);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -9px;
      }
    }
  }

  &.bottom {

    .tooltip-inner {
      background: #353F53;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;

      &:after {
        border-bottom: 8px solid #353F53;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -8px;
      }

      &:before {
        border-bottom: 8px solid rgba(0, 0, 0, 0.2);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -9px;
      }
    }
  }

  &.left {

    .tooltip-inner {
      background: #353F53;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;

      &:after {
        border-left: 8px solid #353F53;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        right: -8px;
      }

      &:before {
        border-left: 8px solid rgba(0, 0, 0, 0.2);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        right: -9px;
      }
    }
  }

  &.right {

    .tooltip-inner {


      &:after {
        border-right: 8px solid #353F53;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        left: -8px;
        top: 6px;
      }

      &:before {
        border-right: 8px solid rgba(0, 0, 0, 0.2);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        left: -9px;
        top: 6px;
      }
    }
  }
} */

/* Duplications are removed from tooltips-and-popovers.scss ends*/

/* Duplications are removed from checkbox-radio-switch.scss*/
/*      Checkbox and radio         */

/* .checkbox.checked .icons, .radio.checked .icons {
  color: #448aff;
} */

/* ============================================================
 * bootstrapSwitch v1.3 by Larentis Mattia @spiritualGuru
 * http://www.larentis.eu/switch/
 * ============================================================
 * Licensed under the Apache License, Version 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 * ============================================================ */

.has-switch {
  &:hover {
    .switch-on label {
      margin: 3px -19px;
      width: 26px;
    }

    .switch-off label {
      margin: 3px -15px;
      width: 26px;
    }
  }
}

/* Duplications are removed from checkbox-radio-switch.scss ends*/

/* navbars.scss styles removed becuase of duplication */
/* footers.scss styles removed becuase of duplication */
/* social-buttons.scss styles removed becuase of duplication */
/* dropdown.scss styles removed becuase of duplication */
/* cards.scss styles removed becuase of duplication */
/* collapse.scss styles removed becuase of duplication */
/* carousel.scss styles removed becuase of duplication */
/* datetime-picker.scss styles removed becuase of duplication */
/* pages.scss styles removed becuase of duplication */
/* responsive.scss styles removed becuase of duplication */
/* tabs-navs-pagination.scss styles removed becuase of duplication */
