.wrapperIntroJs{
  width: 70%;
  margin: auto;
}

.wrapperIntroJs .modalFullStep1, .wrapperIntroJs .modalFullStep2, .wrapperIntroJs .modalFullStep3{
  width: 33.3%;
  display: inline-block;
  text-align: center;
}

.wrapperIntroJs .modalFullStep1 i{
	border-color: #448aff;
	background: #448aff;
	color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
}


.wrapperIntroJs .modalFullStep1 p{
  font-weight: 500;
  color: #448aff;
}

.modalFullScreenWrapper #newMissionStep1, #newMissionStep2, #newMissionStep3, #newMissionStep4{
  padding-top: 10px;
}

.introjs-helperNumberLayer{
  width: 40px !important;
  height: 40px !important;
  background: #23CCEF !important;
  border: none !important;
  top: -20px;
  left: -20px;
  line-height: 38px !important;
  box-shadow: none !important;
  font-size: 18px !important;
}

.introjs-button{
  padding: 10px 14px !important;
  background: transparent !important;
  font-size: 14px !important;
  border-radius: 4px;
}

h1{
  margin-bottom: 40px !important;
}