.layout-3.wp-app {
  .page-wrap {
    .main-panel-wrap {
      .main-panel {
        .main-panel-page {
          .admin-list-main-page {
            .main-container {
              .bu-profile-create-container, .create-subtype-container {
                top: 0;
                overflow-x: hidden;
              }

              .bu-profile-edit {
                margin-top: 30px;

                .client-logo {
                  .empty {
                    input[type='file'] {
                      display: none;
                    }

                    a.add-contact-pic {
                      height: 120px;
                      border: 2px dashed #D7D9DC;
                      font-size: 14px;
                      font-weight: 600;
                      box-shadow: none;
                      display: flex;
                      align-items: center;
                      text-align: center;

                      &:hover {
                        border: 2px solid #448aff;
                      }
                    }
                  }

                  a.import-from-twitter {
                    text-decoration: underline;

                    &:hover {
                      text-decoration: none;
                    }
                  }

                  .import-twitter-image {
                    display: none;
                  }

                  .image-container {
                    .client-image {
                      width: 72px;
                      background: #353F53;
                      border-radius: 50%;

                      img {
                        max-width: 100%;
                        width: 72px;
                        height: 72px;
                        object-fit: contain;
                      }
                    }

                    .image-actions {
                      height: 72px;
                      display: flex;
                      justify-content: center;
                      flex-direction: column;

                      a {
                        display: block;
                        text-decoration: underline;

                        &.replace {
                          color: #9ca1ab;

                          &:hover {
                            text-decoration: none;
                          }
                        }

                        &.remove {
                          color: #EE0A5F;
                          padding-left: 15px;
                          position: relative;

                          &:before {
                            content: '\f00d';
                            font-family: FontAwesome;
                            position: absolute;
                            top: 0px;
                            left: 0;
                          }

                          &:hover {
                            text-decoration: none;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .content {
                .tab-content-container {
                  .card-section-list {
                    ul {
                      li {
                        .card {
                          .subtype-icon-container {
                            padding-right: 0;
                            width: 52px;

                            .subtype-icon {
                              display: flex;
                              align-items: center;

                              i {
                                font-size: 25px;
                                color: $helper;
                              }
                            }
                          }

                          .list-head-container {
                            margin-top: 0;

                            .header {
                              strong {
                                margin: 0;
                              }
                            }
                          }

                          .task-price {
                            width: 272px;

                            .turnover {
                              &.cta {
                                display: flex;
                                justify-content: space-between;
                              }

                              a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                color: $cta-icons;

                                &:hover {
                                  color: $main;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }

                .contract-content-container {
                  margin-top: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}