.card-single-page {}

.select-assignees-modal, .select-edit-assignees-modal {
  .modal-title {
    font-size: 20px;
    color: #353f53;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .select-all-div {
    width: 73%;
  }

  .select-all-container {
    width: 27%;

    .select-all {
      display: block;
      border: 1px solid #ddd;
      border-radius: 6px;
      height: 38px;
      padding: 8px 15px 8px 10px;

      label.checkbox {
        margin: 0;
        float: left;
        min-height: 20px;
      }

      .select {
        float: right;
        color: #A6ABB4;
        font-weight: 600;
      }
    }
  }

  .select-assignee-scroll {
    height: 60vh;
    overflow-y: auto;
  }

  .select-assignee-container {
    margin-bottom: 20px;

    h4.title {
      padding: 0;
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #353f53;
      font-weight: 600;
      line-height: 1.6;
      word-break: break-all;
    }

    .assignee-row {
      border: 1px solid transparent;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;

      .check {
        padding-top: 7px;
        padding-right: 0;
      }

      .user-image {
        width: 40px;
        height: 40px;
        padding: 0;
        background: $main;
        border-radius: 50%;
        margin-top: 5px;

        img {
          max-width: 100%;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }

        .card-user-empty {
          height: 40px;
        }
      }

      .contributor-info {
        width: 61%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 50px;

        .contributor-name {
          color: #353f53;
          font-weight: 700;
        }
      }

      .bidding-info {
        width: 21%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: #f3f5f7;
        border-radius: 4px;
        padding: 5px 8px;
        font-size: 16px;
        color: #353f53;
        font-weight: 700;
        min-height: 50px;

        span {
          color: #353f53;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}