// Job single offer styles

.job-single-offer-page {
  .main-container {
    .tab-panel-container {
      .list-navigation {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        margin-bottom: 35px;
        border: 1px solid $border-color;
        border-radius: 3px;

        li {
          height: 34px;
          width: 50%;
          transition: all .3s ease;

          a {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            color: $body;
            height: 100%;
            font-size: 14px;
            font-weight: 600;
          }

          &.active, &:hover {
            background: $selected;

            a {
              color: #fff;
            }
          }
        }
      }

      .list-nav-container {
        padding-bottom: 500px;

        .sourcing-list-nav-container {
          .display-content {
            &.empty {
              padding: 12px;
            }
          }

          .info-content, .overview {
            height: auto !important;
            min-height: auto;
          }

          .add-sourcing-description {
            font-size: 14px;
            color: $selected;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }

          .overview:only-of-type {
            margin-top: 0;
          }
        }

        .team-list-container {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-flow: column;
          list-style-type: none;
          padding: 0;
          margin: 0;

          > li {
            @include clearfix;

            &[class*='-list'] {
              margin-bottom: 10px;
              padding: 15px;

              // transition: all .3s ease;
              -webkit-transition: all .5s ease-out;
              -moz-transition: all 0.5s ease-out;
              -ms-transition: all 0.5s ease-out;
              -o-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;

              .language-to {
                @extend %language-breadcrum;

                width: auto;
                margin-right: 15px;
              }

              [class*='-details'] {
                [class*='-title'] {
                  font-size: 14px;
                  font-weight: 600;
                  color: $main;
                }

                [class*='-numbers'] {
                  font-size: 12px;
                  color: $helper;
                }
              }
            }

            &:hover {
              box-shadow: inset 0px 0px 0px 2px rgba(68, 138, 255, 1);
            }
          }
        }
      }
    }

    .main-panel-container {
      .sourcing-contents {
        .overview-content-container {
          .job-filter-options {
            .job-filter-options-container {
              background: $highlight-04;

              label {
                text-transform: uppercase;
              }

              hr {
                border-top: 2px solid $divider-color-02;
              }

              .clear-filter-options {
                color: $main;
                font-weight: 700;
                text-decoration: underline;
                display: inline-block;
                margin-top: 10px;

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }

          .client-content-container {
            .add-new-card {
              .no-cards {
                @extend %no-cards;
              }
            }

            .card-section-list {
              ul {
                li {
                  .card {
                    .task-price {
                      width: 336px;
                    }

                    .list-head-container {
                      width: 43%;
                      padding-right: 0;

                      .header {
                        .language {
                          width: 18.333%;
                        }

                        .language-to {
                          width: 31.333%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Modal styles */
.edit-description-modal {
  @extend %modal;
}

/* Modal styles ends*/
