/* Layout-2 Changes Starts */

/* .layout-2.wp-app {
    .page-wrap {
        .main-panel-wrap {
            .main-panel {
                .main-panel-page {
                    .main-container {
                        .overlay-main-container {
                            width: calc(100% - 80px);
                        }

                        .main-panel-container {
                            .no-data-container {
                                height: calc(100vh - 190px) !important;
                            }

                            .content {
                                .tab-content {
                                    display: block;

                                    .main-panel-header {
                                        width: 100%;
                                        margin-top: -3px;
                                        position: relative;
                                        z-index: 1;
                                        border-bottom: none;
                                        height: 87px;

                                        .select-all-container {
                                            margin-top: 30px;
                                        }

                                        .validate {
                                            margin-top: 28px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} */

/* Layout-2 Changes Ends */
