// Layout-6 Changes Starts

.layout-6.wp-app {
  .page-wrap {
    .main-panel-wrap {
      .main-panel {
        .main-panel-page {
          .main-container {
            margin: 25px auto 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: row wrap;

            .main-panel-container {
              .content {}
            }
          }
        }
      }
    }
  }
}

/* Layout-6 Changes Ends */
