// Sourcing Candidate List

.sourcing-candidate-list-page {
  .linked-teamlist {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        list-style-type: none;
        padding: 15px 20px;
        color: #354052;
        font-weight: 600;
        border-bottom: 1px solid #eaebed;

        a {
          color: #354052;
          font-weight: 600;
          border-bottom: 1px solid #eaebed;
        }

        &.create-link {
          border-bottom: 0;
          background: transparent;

          a {
            color: #448AFF;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .content {
    .tab-content {
      .main-panel-header {
        height: auto !important;

        .header-top-panel {
          .select-all-container, .project-planner {
            margin-top: 0;
          }
        }

        .validate {
          margin-top: 0;

          button {
            float: left !important;
          }
        }
      }
    }

    .define-mission-container {
      height: 100px;
    }

    .card-section-list-headers {
      .header-title {
        width: 43.666%;

        h4.title {
          color: #485262;
          font-size: 16px;
          font-weight: 700;
          padding: 0;
          margin: 0;
          line-height: 1;
        }
      }

      .right-column {
        float: right;
        width: 455px;

        .numbers {
          width: 98px;
          text-transform: uppercase;
          text-align: center;
          font-size: 12px;
        }
      }

      &.availability-row {
        .header-title {
          width: 32.666%;
        }

        .right-column {
          width: 545px;
        }
      }
    }

    .card-section-list {
      ul {
        li {
          .card-contract {
            .list-image-container {
              position: relative;
              margin-right: 0;

              span.pin {
                position: absolute;
                right: 18px;
                z-index: 1;

                &:before {
                  content: '';
                  position: absolute;
                  top: -1px;
                  left: 1px;
                  width: 22px;
                  height: 22px;
                  background: #447DF7;
                  -moz-border-radius: 50%;
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                }

                i {
                  color: #fff;
                  -webkit-transform: rotate(45deg);
                  -moz-transform: rotate(45deg);
                  -o-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
              }
            }

            .list-head-container {
              margin-top: 0;
              width: 32%;

              .header {
                line-height: 1.2;

                .status-label {
                  line-height: 1.5;

                  span.paid {
                    > .fa-database {
                      position: relative;
                      top: -3px;
                      width: 10px;
                      font-size: 10px;

                      > i {
                        position: absolute;
                        left: 0;
                        width: 12px;
                        top: 4px;
                        font-size: 10px;
                        background: white;
                      }
                    }
                  }
                }
              }
            }

            .task-price {
              width: 423px;

              .numbers, .numbers a {
                font-weight: 700;

                span {
                  font-weight: $font-weight-normal;
                }

                i {
                  position: relative;
                  top: 5px;
                  line-height: 0;
                  font-size: 16px;
                  font-weight: 700;
                }

                &:before, &:after {
                  background: 000;
                }

                &.done, &.done a {
                  color: $selected;

                  span {
                    color: $selected;
                  }
                }

                &.process, &.process a {
                  color: $main;

                  span {
                    color: $main;
                  }
                }

                &.reject, &.reject a, &.failed, &.failed a, &.declined, &.declined a {
                  color: $delete;

                  span {
                    color: $delete;
                  }
                }

                i.star-rate {
                  position: relative;
                  top: 3.5px;
                  font-size: 18px;
                  color: #FEC500;
                }

                &.bidding {
                  .bidding-data {
                    background: #f3f5f7;
                    color: $main;
                    font-weight: 600;
                    padding: 7px 12px;
                    margin-top: -7px;

                    span {
                      color: #cdd0d5;
                    }
                  }
                }

                &.more-options {
                  width: 20px;
                  padding: 5px 0 0 0;

                  a.card-more-options {
                    color: #d7d9dc;

                    &:hover, &:focus {
                      color: #353f53;
                    }
                  }

                  .dropdown-menu {
                    right: -15px;

                    &:before, &:after {
                      left: auto;
                      right: 12px;
                    }

                    li {
                      a {
                        color: #9fa4ad;
                      }

                      &.confirm {
                        a {
                          color: #353f53;
                        }
                      }

                      &.delete {
                        a {
                          color: #EE0A5F;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }

      &.availability-row {
        ul {
          li {
            .card-contract {
              .list-head-container {
                width: 23%;
                padding-right: 0;
              }

              .task-price {
                width: 512px;

                .numbers {
                  &.available, &.available a {
                    color: $main;

                    span {
                      color: $main;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .team-list-container > li[class*=-list] .language-to li a img {
    margin-right: 0;
  }
}

.availability-popover {
  position: relative;
  top: 5px;
}

.import-button {
  .btn {
    border: 1px solid #eee;
    background: #fff;
    color: $main;
    box-shadow: 1px 1px 2px 1px #eceeef;
    transition: all .3s ease;

    &.btn-drop {
      text-align: left;
      position: relative;

      &:before {
        content: 'keyboard_arrow_down';
        font-family: 'Material Icons';
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 20px;
        color: $main;
      }
    }

    &:hover {
      background: $highlight-01;
      box-shadow: 1px 1px 5px 3px #eceeef;
      transition: all .3s ease;
    }
  }

  ul.dropdown-menu {
    width: 280px;

    &:before, &:after {
      content: none;
      border: none;
    }

    li {
      input[type=file] {
        display: none;
      }

      .attatch-link {
        padding: 8px 16px 10px;
      }
    }
  }
}

.export-button {
  .btn.btn-drop {
    border: 1px solid #ddd;
    background: transparent;
    color: $main;
    text-align: left;
    box-shadow: 1px 1px 2px 1px #eceeef;
    transition: all .3s ease;
    position: relative;

    &:before {
      content: 'keyboard_arrow_down';
      font-family: 'Material Icons';
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      color: $main;
    }

    &:hover {
      background: $highlight-02;
      box-shadow: 1px 1px 5px 3px #eceeef;
      transition: all .3s ease;
    }
  }

  ul.dropdown-menu {
    width: 100%;

    &:before, &:after {
      content: none;
      border: none;
    }
  }
}

/*Modal styles*/
.pay-article-modal {
  .modal-title {
    font-size: 20px;
    color: $main;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .candidate-info {
    background: $highlight-01;
    margin-bottom: 15px;
    padding: 15px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: $border-color;
      left: 50%;
      top: 0;
    }

    title {
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-size: 12px;
      color: #7d889a;
      padding: 0 15px;
    }

    .image-container {
      width: 60px;
      margin: 0 0 0 5px;

      .list-image {
        @extend .df-ac;

        width: 40px;
        margin: 10px 0;
        background: $main;
        border-radius: 50%;
        min-height: 40px;

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }

    .head-container {
      margin: 0;

      .header {
        line-height: 1.2;
        padding: 0;

        .status-label {
          span.dates {
            color: #B0B4BB;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .rating {
      padding: 20px 25px;

      span {
        margin-left: 5px;
        background: $main;
        border-radius: 6px;
        color: #fff;
        font-weight: $font-weight-normal;
        text-align: center;
        padding: 3px 15px 5px;

        i {
          position: relative;
          top: 2px;
          font-size: 14px;
          color: #fec500;
        }
      }
    }
  }

  .user-container {
    padding: 15px 30px;

    .user-image {
      width: 40px;
      padding: 0;
      margin-left: 15px;

      img {
        max-width: 100%;
        width: 40px;
        height: 40px;
        object-fit: contain;
      }
    }

    .user-desc {
      color: $main;

      span.sub {
        display: block;
        color: $highlight-06;
        font-size: 12px;
      }
    }

    .user-comment {
      margin-top: 15px;
      color: $helper;
    }
  }
}

.send-test-article-modal {
  @extend .disapprove-modal;

  .send-message-display {
    a.edit-message {
      color: $body;

      &:hover {
        u {
          text-decoration: none;
        }
      }

      i {
        font-size: 20px;
        margin-left: 5px;
      }
    }

    .message-container {
      border-radius: 4px;

      p {
        padding: 0;
        margin-bottom: 10px;
        font-size: 14px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

/*Modal styles ends*/