@import "./colors";

/* helper utility styles */
.helper-text {
    font-size: 12px;
    text-transform: none !important;
    color: $helper;
    font-weight: $font-weight-normal;

    &.text-01 {
        font-size: 14px;
    }

    &.text-02 {
        font-size: 13px;
    }

    &.text-03 {
        font-size: 11px;
    }

    &.text-04 {
        font-size: 10px;
    }

    [class$='by'] {
        font-weight: 600;
    }
}

/* font-sizes starts */
@for $i from 5 through 10 {
    $size: $i * 2;

    .fz-#{$size} {
        font-size: #{$size}px;
    }
}
/* font-sizes ends */

/* Text decoration styles start */
.td-u {
    text-decoration: underline;
}

/* Text decoration styles end */

.text-none {
    text-transform: none !important;
    font-weight: normal !important;
}

/* Textarea styles start */
textarea {
    &.no-resize {
        resize: none;
    }

    &.no-h-resize {
        resize: vertical;
    }

    &.no-v-resize {
        resize: horizontal;
    }
}

/* Textarea styles end */

/* Icon inside icon */
/* i{
    position: relative;
    i{
        position: absolute;
    }
} */
/* Icon inside icon ends*/

// Box modal styles

$dimensions: ('m': 'margin', 'p': 'padding');

$directions: ('t': 'top', 'b': 'bottom', 'r': 'right', 'l': 'left');

@each $dim in $dimensions {
    @for $i from 0 through 6 {
        $size: $i * 5;

        @if $size !=5 {
            .#{nth($dim, 1)}-#{$size} {
                #{nth($dim, 2)}: #{$size}px !important;
            }
        }
    }

    @each $dir in $directions {
        @for $i from 0 through 6 {
            $size: $i * 5;

            @if $size !=5 {
                .#{nth($dim, 1)}#{nth($dir, 1)}-#{$size} {
                    #{nth($dim, 2)}-#{nth($dir, 2)}: #{$size}px !important;
                }
            }
        }
    }
}

// button with 48% styles
.btn-yes {
    @include custom-btn($yes, $yes-hover);
}

.btn-no {
    @include custom-btn($no, $main);
}

.btn-disapprove,
.btn-delete {
    @include custom-btn($delete, $delete-hover);
}

.btn-confirm,
.btn-pause {
    @include custom-btn($main, $not-started);
}

.btn-download {
    @include custom-btn($default-bg, $default-bg-hover);
}

.btn-yes.btn-no-final {
    @include custom-btn-no-final($yes, $yes-hover);
}

.btn-no.btn-no-final {
    @include custom-btn-no-final($no, $main);
}

.btn-disapprove.btn-no-final {
    @include custom-btn-no-final($delete, $delete-hover);
}

.btn-confirm.btn-no-final {
    @include custom-btn-no-final($main, $not-started);
}

.btn-download.btn-no-final {
    @include custom-btn-no-final($default-bg, $default-bg-hover);
}

.btn-logout {
    @include custom-btn-nofill-hover(#fff, $default-bg-hover, $delete);
}

.btn-white {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

    &.active {
        background-color: $yes-hover !important;
        color: #fff !important;
    }
}

.btn {
    white-space: normal;
}

// button styles ends

.main-font {
    font-size: 14px;
    color: $main;
    font-weight: 600;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.primary-font {
    font-size: 14px;
    color: $sub-heading;
}

.sec-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: $main;
}

.required {
    color: $delete;
}

label {
    font-weight: 600;
}

/* Display styles start */
.df-ac {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.df-ac-mob {
    @extend .df-ac;

    @media (max-width: 767px) {
        flex-flow: column;
        justify-content: center;
    }
}

.df-ac-jc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.df-ac-jcsb {
    @extend .df-ac;
    justify-content: space-between;
}

.df-ac-jc-mob {
    @extend .df-ac-jc;

    @media (max-width: 767px) {
        flex-flow: column;
        justify-content: center;
    }
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

/* Display styles ends */

// full width
.full-width {
    width: 100% !important;
}

.full-height {
    height: 100% !important;
}

.auto-width {
    width: auto !important;
}

.auto-height {
    height: auto !important;
}

// background color classes
.bg-yes {
    background: $yes !important;
}

.bg-schedule-ahead {
    background: $schedule-ahead !important;
}

.bg-on-track {
    background: $on-track !important;
}

.bg-risk {
    background: $risk !important;
}

.bg-blocked {
    background: $delete !important;
}

// background-highlight styles
.highlight-bg {
    padding: 15px;
    background: $highlight-01 !important;

    .d-block {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;

            // margin-top: 15px;

        }
    }
}

.shadow-0 {
    box-shadow: none !important;
}

// Divider line style

.divider {
    @include divider;
}

/* .chosen-container-single {
  .chosen-single {
    line-height: normal;
    display: flex;
    height: 38px;
    align-items: center;
    box-sizing: border-box;

    div {
      b {
        background-position-y: 13px;
      }
    }
  }
}
 */